{% extends 'flatpages/default.html' %}
{% block title %}
Posts
{% endblock title %}
{% block content %}
  <h1>Все новости</h1>
  <h3> Количество статей: {{news|length}} </h3>
{% if news  %}
<table>
  <tr>
    <td>Заголовок</td>
    <td>Дата публикации</td>
    <td>Тескт</td>
    <td>Действия</td>
  </tr>
  {% for post in news %}
  <tr>
    <td>{{ post.title_post }}</td>
    <td>{{ post.create_time| date:'d M Y'}}</td>
    <td>{{ post.text_post|truncatechars:20 }}</td>
    <td><a href="{% url 'news_detail' post.id %}">Читать полность...</a></td>
  </tr>
  {% endfor %}
</table>
{% else %}
<h2>Публикаций нет!</h2>
{% endif %}
{% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}
